<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9K8iug1ZAWr0zutw0MYp96OluOjLiqKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1027052056729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starServe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>starserve-893d7</string>
	<key>STORAGE_BUCKET</key>
	<string>starserve-893d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027052056729:ios:258c90a955c59f72cbc808</string>
</dict>
</plist>